---
layout: blog_layout
---

{% for post in site.posts %}
<article class="preview">
    <header>
        <h2 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p class="post-time">
            <i class="fa fa-calendar"></i> {{ post.time }}
            {% if post.category %}
            <span class="post-category"><i class="fa fa-folder"></i> {{ post.category }}</span>
            {% endif %}
        </p>
    </header>
    <section class="post-section">
        <p>
            {{ post.excerpt }}
        </p>
        <p class="readmore">
            <a href="{{ post.url }}">
                阅读全文
                <i class="fa fa-arrow-right"></i>
            </a>
        </p>
    </section>
</article>
{% endfor %}
