<header class="bloghead">
    <div class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="/assets/img/owner.jpg"/>
        </a>
        <div class="blogtitle">
            <h1><a href="/">{{ site.data.blog.title }}</a></h1>
            <h5> {{ site.data.blog.description }} </h5>
        </div>
    </div>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu.html">Menu</a></li>
            <li><a target="_blank" href="https://github.com/haiqingchq">Github</a></li>
            <li><a target="_blank" href="/about.html">About Me</a></li>
        </ul>
    </nav>
</header>
