<footer class="article-footer">
    <div class="author-box">
        <div class="authorimage">
            <img src="/assets/img/owner.jpg" alt="My Avatar" class="img-circle">
        </div>
        <section class="author-info">
            <h4><a href="/about.html">haiqingchq</a></h4>
            <p class="author-bio">热爱技术，专注于云原生、容器化和系统底层技术</p>
            <div class="author-contact">
                <a href="mailto:chenhaiqing4843@gmail.com"><i class="fa fa-envelope"></i> Email</a>
                <a href="https://github.com/haiqingchq" target="_blank"><i class="fa fa-github"></i> GitHub</a>
            </div>
        </section>
    </div>
</footer>
